@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 20px 40px;
  }
  .header > .container {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
  }
  .logo-name {
    display: none;
  }
  .laptop-h1 {
    font-size: 36px;
    text-align: center;
    display: inherit;
  }
  .photo-container {
    text-align: center;
  }
  .photo-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 75px;
    align-self: center;
  }
  .nav-list {
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    white-space: nowrap;
  }
  .footer > .container {
    padding: 0 20px;
  }
}
@media (max-width: 368px) {
  .container {
    max-width: 368px;
    padding: 20px 10px;
  }
}

@media (max-width: 430px) {
  .laptop-h1 {
    padding-bottom: 20px;
    &:after {
      content: '';
      display: block;
      height: 3px;
      background: #686868;
    }
  }
  .nav {
    width: auto;
  }
  .nav-item {
    align-self: center;
  }
}
