* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}

h1, a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.georgia-font {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  color: #292929;
}

.roboto-font, p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  color: #292929;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 80px;
}

.header, .footer {
  width: 100%;
  background-color: #e7e7e7;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-name {
  width: 33%;
  line-height: 1.2em;
  font-size: 50px;
}

.photo-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav {
  width: 33%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.nav-item {
  line-height: 1em;
  font-style: italic;
  font-size: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

.nav-item:before {
  position: absolute;
  bottom: -5px;
  content: " ";
  border-bottom: 2px solid #686868;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-item:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-item:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.main-h {
  margin: 15px auto;
  font-size: 26px;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 280px;
  height: 180px;
}

.education-list, .skills-list, .pets-list, .language-list {
  text-align: left;
}

.education-item, .skills-item, .pets-item, .language-item {
  padding: 5px 20px;
}

p {
  font-size: 16px;
  margin: 5px 10px;
  text-align: center;
}

.language-link, .pets-link {
  font-weight: 600;
  font-style: italic;
}

.code {
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
}

.contact-link {
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  margin: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.contact-icon {
  width: 30px;
  height: 30px;
}

.footer > .container {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.footer-link {
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.contact-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.footer-link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.language-link:hover, .pets-link:hover {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */